{% extends 'base.html.twig' %}

{% block title %}Postulation index{% endblock %}

{% block body %}
    <h1>Postulation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_postulation</th>
                <th>Date_postulation</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for postulation in postulations %}
            <tr>
                <td>{{ postulation.idPostulation }}</td>
                <td>{{ postulation.datePostulation ? postulation.datePostulation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ postulation.statut }}</td>
                <td>
                    <a href="{{ path('app_postulation_show', {'id_postulation': postulation.id_postulation}) }}">show</a>
                    <a href="{{ path('app_postulation_edit', {'id_postulation': postulation.id_postulation}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_postulation_new') }}">Create new</a>
{% endblock %}
