{% extends 'base.html.twig' %}

{% block title %}Modifier une Spécialité | Osen - Tableau de Bord Admin Bootstrap 5{% endblock %}

{% block css %}
    <link href="{{ asset('assets/vendor/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-lg-7">
            <div class="flex-grow-1">
                <h4 class="fs-18 fw-semibold mb-0">Modifier une Spécialité</h4>
            </div>
            <div class="card shadow">
                
                <div class="card-body">
                    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}, {'attr': {'method': 'POST', 'enctype': 'multipart/form-data'}}) }}

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="{{ form.nom.vars.id }}" class="form-label">Nom de la Spécialité</label>
                                    {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le nom de la spécialité'}}) }}
                                    {{ form_errors(form.nom) }}
                                </div>
                            </div>
                        </div>

                        <div class="text-end mb-3">
                            <button type="submit" class="btn btn-primary">Modifier la Spécialité</button>
                            <a href="{{ path('app_specialite_index') }}" class="btn btn-danger">Annuler</a>
                        </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('assets/vendor/select2/js/select2.min.js') }}"></script>
{% endblock %}
