{{ form_start(form, {'attr': {'class': 'row g-2'}}) }}

    <div class="mb-3 col-md-6">
        {{ form_label(form.nom, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
        {{ form_errors(form.nom) }}
    </div>

    <div class="mb-3 col-md-6">
        {{ form_label(form.prenom, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
        {{ form_errors(form.prenom) }}
    </div>

    <div class="mb-3 col-md-6">
        {{ form_label(form.email, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Adresse email'}}) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="mb-3 col-md-6">
        {{ form_label(form.mot_de_passe, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.mot_de_passe, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
        {{ form_errors(form.mot_de_passe) }}
    </div>

    <div class="mb-3 col-md-6">
        {{ form_label(form.telephone, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.telephone, {'attr': {'class': 'form-control', 'placeholder': 'Téléphone'}}) }}
        {{ form_errors(form.telephone) }}
    </div>

    <div class="mb-3 col-md-6">
        {{ form_label(form.date_naissance, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.date_naissance, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.date_naissance) }}
    </div>

    <div class="mb-3 col-12">
        {{ form_label(form.adresse, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.adresse, {'attr': {'class': 'form-control', 'placeholder': 'Adresse'}}) }}
        {{ form_errors(form.adresse) }}
    </div>

    <div class="mb-3 col-md-6">
        {{ form_label(form.image_url, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.image_url, {'attr': {'class': 'form-control', 'placeholder': "URL de l'image"}}) }}
        {{ form_errors(form.image_url) }}
    </div>

    <div class="mb-3 col-md-6">
        {{ form_label(form.nationalite, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.nationalite, {'attr': {'class': 'form-control', 'placeholder': 'Nationalité'}}) }}
        {{ form_errors(form.nationalite) }}
    </div>

    <div class="mb-3 col-md-6">
        {{ form_label(form.role, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.role, {'attr': {'class': 'form-select'}}) }}
        {{ form_errors(form.role) }}
    </div>

   

    <div class="mb-3 col-12">
        <button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>

{{ form_end(form) }}