{% extends 'base.html.twig' %}

{% block title %}Accompagnateur index{% endblock %}

{% block body %}
    <h1>Accompagnateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_accompagnateur</th>
                <th>Username</th>
                <th>Password_hash</th>
                <th>Email</th>
                <th>Fichier_cv</th>
                <th>Photo_profil</th>
                <th>Experience</th>
                <th>Motivation</th>
                <th>Langues</th>
                <th>Statut</th>
                <th>Date_recrutement</th>
                <th>Date_inscription</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for accompagnateur in accompagnateurs %}
            <tr>
                <td>{{ accompagnateur.idAccompagnateur }}</td>
                <td>{{ accompagnateur.username }}</td>
                <td>{{ accompagnateur.passwordHash }}</td>
                <td>{{ accompagnateur.email }}</td>
                <td>{{ accompagnateur.fichierCv }}</td>
                <td>{{ accompagnateur.photoProfil }}</td>
                <td>{{ accompagnateur.experience }}</td>
                <td>{{ accompagnateur.motivation }}</td>
                <td>{{ accompagnateur.langues }}</td>
                <td>{{ accompagnateur.statut }}</td>
                <td>{{ accompagnateur.dateRecrutement ? accompagnateur.dateRecrutement|date('Y-m-d') : '' }}</td>
                <td>{{ accompagnateur.dateInscription ? accompagnateur.dateInscription|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_accompagnateur_show', {'id_accompagnateur': accompagnateur.idaccompagnateur}) }}">show</a>
                    <a href="{{ path('app_accompagnateur_edit', {'id_accompagnateur': accompagnateur.idaccompagnateur}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_accompagnateur_new') }}">Create new</a>
{% endblock %}
